@model IEnumerable<PMStudio.MVC.Models.Projeto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposProjetos.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Justificativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtAtualizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposProjetos.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Justificativa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objetivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtAtualizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>